<html>
    <head>
        <title>Nicole Li News Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Nicole Li News Blog</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }} <p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            <div>
        {% endfor %}

        <!--
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="http://www.forbes.com/sites/ingowinzer/2016/12/01/new-administration-could-mean-new-opportunities-for-real-estate-investing-in-the-heartland/#243d069539da">Trump Could Mean New Opportunities For Real Estate Investing In The Heartland</a></h2>
            <p>Economic issues in the Heartland are likely to be front and center for economic policy over the next few years. We've combed through the data and identified a dozen markets where new spending on infrastructure and greater emphasis on American-made products could have large positive effects on local job growth - and on home values.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="http://www.forbes.com/sites/robertwood/2016/12/02/bitcoin-users-brace-for-irs-audits-from-coinbase-summons/#7fcb28891091">Bitcoin Users Brace For IRS Audits From Coinbase Summons</a></h2>
            <p>Many Bitcoin and other digital currency users are worried that the IRS will get their account information from Coinbase. What's more, the IRS can use it to audit them, or worse, to mount a criminal investigation. Is it time to panic? Not quite.</p>
        </div>
      -->
    </body>
</html>
